#femme_canap{
    display: flex;
  
    justify-content: center;
    margin-bottom: max(40px,4.93%);
}
.box_choix_emotion{
    display: flex;
    justify-content: space-around;
    margin-bottom: max(48px,4.91%);
    
    
    
}
.box_choix_emotion .choixA{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 75px;
    background-color: #0F24B2;
    border-radius: 10px;
}
    

.box_choix_emotion .choixB{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 75px;
    background-color: #EF96C3;
    border-radius: 10px;

    
}
.defi_bar_notation{
    height: 15px;
    border-radius: 10px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: max(15px,1.85%);
    

}
.circle {
    
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    

}
.circle1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F24B2;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    
}
.avis_possible{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: max(35px,4.31%);
}
.box_btn_center{ 

    display: flex;
    justify-content: center;
    margin-bottom: max(44px,5.42%);
}
.box_btn_center .btn_envoyer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 160px;
}
.test{
    width: 100%;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.tt1{

    display: flex;
    height: 30px;
    width: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.tt2{


    height: 10px;
    width: 10px;
    background-color: green;

}