h1{
	margin-top: max(28px,3.15%);
	z-index: 1;
}

#cercle-mauve{
    position: relative;
    width: 224px;
    height: 233px;
    border-radius: 500px;
}




.carre-rechercher{
    margin-left: max(29px,7.73%);
    margin-top: max(33px,3.71%);
    width: 73.87%;
    height: 8.53%;
    border-width: 1px;
    border-style: solid;
    border-color: #C4C4C4;
	background-color: #fff;
    border-radius: 5px;
    z-index: 2;
}

.icone-search{
    margin-left: max(246px,88.81%);
}

.categorie{
    display: flex;
    justify-content: center;
	align-items: center;
}

.categorie-selectionnee {
	background: #000;
	color: #FFF;
	padding: 4px;
	border-radius: 10px;
}

.categorie p{
    margin: 30px 10px;
}

h2{
    position: relative;
    color: #6E6E6E;
    text-align: center;
}

#coeur-rempli{
    position: absolute;
    top: -5px;
    right: 0px;
    width: 22px;
    height: 20px;
}

.contenu-trouve{
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    margin: 20px 0;
}

.podcast {
	margin-bottom: 20px;
}
.illustration-podcast-bloc {
	border-radius: 10px;
	position: relative;
}
.illustration-podcast-bloc .description {
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
	padding: 10px 4px;
	background: radial-gradient(100% 431.36% at 0% 0%, rgba(51, 51, 51, 0.3) 47.74%, rgba(255, 255, 255, 0) 100%);
	box-sizing: border-box;
	backdrop-filter: blur(10px);
}

.podcast .boutons {
	display: flex;
	justify-content: space-between;
}

.decor {
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;


}
.cercle {
	width: 240px;
	height: 240px;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	top: -40px;
	right: -40px;
}
.perso {
	position: relative;
	z-index: -1;
}