
.fond_bleu{
    z-index: -1;
}       

 .first{ position: absolute;} 
#logo{ 

    position: absolute;
    left: 20px;
    top: 45px;
    z-index: 1;
    }
#illustration1{


    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top: 165px;
    left: 137.5px;
  

}
#P1{


    position: absolute;
}
.txt_homepage_1
{

position: relative;
padding-left: 20px;
padding-right: 20px;

font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;
}



#Rectangle-rose{

    position: absolute;
    width: 335px;

    left: 20px;
    top: 552px;
    z-index: 0;

  
}
.navigation-mobile {
    background: black;
    position: fixed;
    bottom: 0;
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: space-around;
    z-index: 1000;
    
    
}

.bloc-icon{
    display: flex;
    justify-content: center;
    /* width: 60px; */
}
.Match_Box {
    height: 200px;
    width: 335px;
    position: absolute;
    margin: 0px 20px;
    background-color: #EF96C3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    top: 552px;
    border-radius: 30px;
}
.Match_Box .Match_Box_txt{
position: relative;
padding-left: 20px;


}
.Match_Box .Match_Box_txt p{

    position:   absolute;
    
    top: 23px;
    left: 30px;
    

}
.Match_Box .Match_Box_txt .text_2{
    position:   absolute;
    top: 3px;

}
  

    
.Match_Box #Femme{
  position: relative;
  top: -23.6px;
  left: 118px;
  width: 223px;
  height: 223px;
  z-index: 3;
    
    
}
.Match_Box #Tier_cercle_jaune
{

position: absolute;
top: -65px;
left: 261px;
filter: drop-shadow(0px 7px 13px rgba(0, 0, 0, 0.15));




}
#Match
{
    position: absolute;
    top: 131px;
    left: 30px;


}


.Demi_cercle_rouge{
position: absolute;
top: 763px;
left: 0px;

 }
 .Triple_trait{

    position: absolute;
    top: 809px;
    left: 283px;
    ;
 }
 .Triple_trait_180{ 
 position: absolute;
 top: 906px;
 left: 27px;
 transform: rotate(180deg);}

.Button_Lancer_Défi
{
    position: absolute;
   top: 841px;
   left: 93.2px;
}
.Rectangle_violet{
position: absolute;
width: 220px;
height: 130px;
left: 136px;
top: 1046px;
filter: blur(2px);
/* VIOLET */

background: #9E4ACE;
border-radius: 30px;


}

.Rectangle_violet p{
    margin: 15px  15px 10px 15px;
   
  



}




.Font_Bold_Abhaya_17px{  
    font-family: Abhaya Libre ExtraBold;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;

}

.Font_Montserrat_Normal_14px{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 13px;


}


.Font_Normal_Abhaya_17px{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;}
.txt_2
{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 20px;
    top: 1001px;
    font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
font-size: 17px;
line-height: 21px;
  
}

.Multi_femme{position: absolute; top: 1975px;}
.Demi_cercle_orange{position: absolute; top: 1602px; z-index: -100;}



.squad {
position: absolute; 
top: 1330px;    
padding: 0px 20px;
display: flex;
flex-wrap: wrap;
flex: auto;
justify-content: space-between;}





.squad .card{padding-bottom: 26px;}
.squad .card .bg{position: relative;
    width: 88px;
    height: 113px;
    background: #C4C4C4;
    }
.squad .card .bg .logo_profil{

    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    top: 8px;
    left: 6px;
}
.squad .card .bg .name{

    width: 27px;
    height: 5px;
    background-color: red;
    
    position: absolute;
    top: 8px;
    left: 12px;
}
.squad .card .bg .image{
    width: 76px;
    height: 76px;
    background-color: blue;
    margin: 9px 6px 22px 6px;
}
.squad .card .bg .titre{

    position: absolute;
    width: 76px;
    height: 8.5px;
    background-color: red;
    top: 100px;
    left: 6px;

}

.Match_Box .Match_Box_txt .txt_2{

    position: absolute;
    top: 85px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
    
}

.Last_element_Box{
    height: 200px;
    width: 335px;
    position: absolute;
    margin: 0px 20px;
    background-color: #EFB33E;
    
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    top: 1035px;
    border-radius: 30px;
}
.Last_element_Box .onglet {

    position: relative;
    display: flex;
    top: 182px;
    padding: 0px 153px;
    justify-content: space-around;
}

.Last_element_Box .onglet .onglet_1{
    height: 6px;
    width: 6px;
    background-color: #9E4ACE;
    border-radius: 50%;
}
.Last_element_Box .onglet .onglet_2{
    height: 6px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
}
.Last_element_Box .onglet .onglet_3{
    height: 6px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
}
.Last_element_Box .Livre_Women_confidence
{
    position: relative;
    top: 18.5px;
    left: 194px;
}
.Last_element_Box .Femme_noir{
position: absolute;
top: 91px;
left: -29px;
z-index: 1;

}
.Last_element_Box .Titre{

    position: absolute;
    top: 30px;
    left: 30px;

}
.Last_element_Box .Txt_1{
position: absolute;
    top: 60px;
    left: 30px;


}
.Button_dl_pdf{


position: absolute;
width: 131px;
height: 20px;
top: 124px;
left: 30px;
border-radius: 5px;
background: #FFFFFF;
}
.Button_dl_pdf .Txt_pdf{position: relative;


position: absolute;
top: 4px;
left: 5px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 11px;


}
.Button_dl_pdf .dl_icone{
    position: relative;
    left: 112px;
    top: 2px;
}
#Titre_3{

    position: absolute;
    top: 1282px;
    left: 20px;
}
#Titre_4{

    position: absolute;
    top: 1628px;
    left: 20px;
}
.Musique_Box{position: absolute;
    width: 277px;
    height: 198px;
    left: 49px;
    top: 1683px;
    
    background: rgba(239, 150, 195, 0.6);
    border-radius: 10px;}
.Musique_Box .img_musique{
padding-left: 15px;
padding-top: 15px;

}
.Musique_Box .app_musique{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 89px;
    padding-right: 82px;
top: 88px;
  
}