.navigation-mobile {
    background: black;
    position: fixed;
    bottom: 0;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-around;
    z-index: 1000;
    
    
}

.bloc-icon{
    display: flex;
    justify-content: center;
    /* width: 60px; */
}