
  .blur_active{ 
      position: relative; 
      filter: blur(10px); 
      z-index: -1;
    }
  .popup {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .popup.active {
    position: absolute;
    display: inline-block;
    background: linear-gradient(178.72deg, rgba(0, 0, 0, 0.27) 53.81%, rgba(0, 0, 0, 0) 98.91%);
  }
  .popup-content {
    position: relative;
    margin: 0px 20px;
    height: 448px;
    width: 335px;
    border-radius: 35px;
    background-color: #0F24B2;
    z-index: 0;
    opacity: 0;
  }
  .popup-content .vague_ppy{
    position: absolute;
    top: 158px;
    width: 100%;
    z-index: -1;
  }
.femme_the{
    position: relative;
    top: 95px;    
  }
  .popup-content p{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .popup-content.active {
    opacity: 1;
    top: 10% !important;
  }
  

  .btn_defi{
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn_defi span{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 16px 24px;
}
  
    .btn-close{
    position: relative;
    display: flex;
    justify-content: center;
    top: 109px;
    cursor: pointer;
    font-size: 18px;
  }
  