.blur_active{ 
    position: relative; 
    filter: blur(3px); 
    z-index: -1;
  }
.popup {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .popup.active {
    position: relative;
    display: inline-block;
  }
  #marge{  
    position: relative;
    margin-right: max(20px,5.33%);

    margin-left: max(20px,5.33%);
  }
  .popup-content {
    position: absolute;
    

    margin-top: 250px;
    height: 448px;
    width: 100%;
    border-radius: 35px;
    background-color: #0F24B2;
    z-index: 0;
    opacity: 0;
  }
  .popup-content.active {
    opacity: 1;
  }
  .txt_1{
      display: flex;
  
      justify-content: center;
      padding-top: max(23px);
      margin-bottom: max(17px);

  }
  .box_cercle_popup{
      position: relative;
      left: 20px;
      
      display: flex;
      justify-content: center;
      margin-left: max(71.5px,15.96%);
      
      height: 192px;
      width: 192px;
      margin-bottom: max(15px,4.46%);
      z-index: 0;
  }
  .cercle_popup{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: white solid 10px;
  }
#main{
   position: absolute;
   top: 20px;
   left: 20px;
 }
.box_partager{

    display: flex;
    justify-content: center;
    
    
}
.btn_partager{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 277px;
    border-radius: 10px;
    margin-bottom: 26px;
}
.win_points{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: max(15px);
    column-gap: 5px;

}
.lvl_defi{
    display: flex;
    justify-content: center;
    margin-bottom: max(15px,6.03%);

}
.croix{  
   cursor: pointer;
}
.sup_popup{
    position: relative;
    display: flex;
    justify-content: center;
    top: 721px;
}