#bg{
    position: absolute;
    display: block;
    width: 375px;
    height: 812px;
    z-index: 1;
}

#start{
    position: absolute;
    display: block;
    z-index: 3;
    left: 20px;
    top: 72px;
}

#txt1{
    position: absolute;
    display: block;
    z-index: 4;
    left: 20px;
    top: 176px;
}

#txt2{
    position: absolute;
    display: block;
    z-index: 4;
    left: 28px;
    top: 241px;
    font-size: 15px;
}

#trait{
    border-bottom: 1px solid white; 
    width: 248px;
    position: absolute;
    display: block;
    top: 273px;
    left: 20px;
    z-index: 5;
}

#vague{
    position: absolute;
    display: block;
    top: 305px;
    z-index: 6;
}

#bouton_orange{
    position: absolute;
    display: block;
    width: 105px;
    height: 44px;
    border-radius: 10px;
    left: 135px;
    top: 719px;
    z-index: 7;
}

#valider{
    position: absolute;
    display: block;
    top: 730px;
    left: 163px;
    z-index: 8;
}


.charging{
 
    position: relative;
    display: flex;
    top: 730px;
    justify-content: space-around;
    margin-left: 146px;
    margin-right: 146px;
    z-index: 5;
    column-gap: 5px;
    
}

.circle{
    
    background-color: #726f6f;
    width: 7px;
    height: 7px;
    border-radius: 50px;

}

.circle1{
    width: 13px;
    height: 7px;
    border-radius: 50px;

}