#logo {
    position: relative;
    width: 100%;
    z-index: 2;
}

#vague1 {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 32.02%;
}

.swiper-slide:nth-child(1) h1 {
    margin-top: max(250px, 30.79%);
    margin-bottom: max(35px, 4.31%);
}

#purple_circle {
    position: absolute;
    display: block;
    right: 0;
    top: -50px;
    border-radius: 500px;
    width: 193px;
    height: 193px;
}

#rect_yellow {
    position: absolute;
    right: 0;
    display: block;
    width: 141px;
    height: 200px;
    top: 300px;
    border-radius: 100px 100px 0px 0px;
    z-index: 1;
}

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-pagination-bullet-active {
    background-color: #efb33e !important;
}
