#vector_vague{
    position: absolute;
    display: block;
    top: 100px;
    left: 0px;
    z-index: -2;
}

#femme_wonders{
    position: relative;
    margin: top;
}

#stickers{
    position: absolute;
    display: block;
    left: 100px;
    top: 342px;
    width: 149px;
    height: 70px;
}

#txt{
    position: absolute;
    display: block;
    left: 20px;
    top: 530px;
    font-size: 22px;
    line-height: 30px;
}

.charging{
 
    position: relative;
    display: flex;
    top: 415px;
    justify-content: space-around;
    margin-left: 146px;
    margin-right: 146px;
    z-index: 5;
    column-gap: 5px;
    
}

.circle{
    
    background-color: #726f6f;
    width: 7px;
    height: 7px;
    border-radius: 50px;

}

.circle1{
    width: 13px;
    height: 7px;
    border-radius: 50px;

}