#vector_blue{
    position: absolute;
    display: block;
    top: 206px;
    z-index: 2;
}



#wonders_woman{
    position: relative;
    display: block;
    width: 100%;
    
    top: 0%;
    z-index: -2;
    margin-bottom: 100px;

}

#base-bleu{
    position: absolute;
    display: block;
    width: 100%;
    top: 25%;
    z-index: -2;
}

#vague2{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 33.35%;
    z-index: -1;
}


.swiper-slide:nth-child(2) h1 {
    
    margin-left: max(20px,5.33%);
    margin-bottom: max(93px,11.45%);
    z-index: 2;
    position: absolute;
    bottom: 5%;
    
}


.charging{

    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 146px;
    margin-right: 146px;
    z-index: 5;
}

input{
    border: none;
    background-color:#0F24B2 ;
    color: white;
}

input::placeholder {
    color: white;
}

input:focus{
    border: none;
    outline: none;
}