#vector_blue{
    position: absolute;
    display: block;
    top: 206px;
    z-index: 2;
}



#wonders_woman{
    position: relative;
    display: block;
    width: 100%;
    top: 0%;
    z-index: -2;
    margin-bottom: 100px;

}

#base-bleu{
    position: absolute;
    display: block;
    width: 100%;
    top: 25%;
    z-index: -2;
}

#vague{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 33.35%;
    z-index: -1;
}

h1{
    margin-left: max(20px,5.33%);
    margin-bottom: max(93px,11.45%);
    z-index: 2;
}


.charging{

    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 146px;
    margin-right: 146px;
    z-index: 5;
    
}

.circle{
    background-color: #726f6f;
    width: 7px;
    height: 7px;
    border-radius: 50px;
}

.circle1{
    width: 13px;
    height: 7px;
    border-radius: 50px;

}
