#background{
    position: absolute;
    display: block;
    width: 375px;
    height: 812px;
    z-index: -3;
}

#wonders{
    position: absolute;
    display: block;
    left: 0px;
    top: 325px;
}

#vague{
    position: absolute;
    width : 100%;
    left: 0px;
    top: 80px;
}

#stickers{
    position: absolute;
    display: block;
    width: 128px;
    height: 128px;
    left: 123px;
    top: 260px;
}

#txt{
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 30px;  
    left: 20px;
    top: 83px;  
}

.charging{
 
    position: absolute;
    display: flex;
    top: 783px;
    justify-content: space-around;
    margin-left: 146px;
    margin-right: 146px;
    z-index: 5;
    column-gap: 5px;
    
}

.circle{
    
    background-color: #726f6f;
    width: 7px;
    height: 7px;
    border-radius: 50px;

}

.circle1{
    width: 13px;
    height: 7px;
    border-radius: 50px;

}