.swiper-slide:nth-child(4) h1 {
    
    margin-top: 72px;
    margin-bottom: 40px;;
}

h2 {
    margin-bottom: 50px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    max-height: 24.73%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.titre-card {
    margin-left: max(29px, 8.66%);
}
.vague_ppy {
    position: absolute;
    top: 291px;
    width: 100%;
}
.card {
    position: relative;
    min-height: 182px;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    border-top: transparent;
    border-radius: 10px;
    backdrop-filter: blur(12px);
    margin-bottom: max(50px, 6.16%);
}
main {
    background: radial-gradient(
        102.7% 102.34% at 0% 0%,
        rgba(15, 36, 178, 0.7) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

main .img_f {
    position: absolute;
    right: 0;
}
.txt-1 {
    margin-bottom: 16px;
    margin-top: 16px;
}
.txt-3 {
    margin-bottom: 16px;
    margin-top: 15px;
}
.card-txt {
    margin-left: max(29px, 8.66%);
    width: 210px;
}
.img_f {
    position: relative;
    right: 0;
    bottom: -3px;
}
.card-txt2 {
    display: flex;
    height: 138px;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin-left: max(29px, 8.66%);
    width: 200px;
}
.charging {
    position: relative;
    display: flex;

    justify-content: space-around;
    margin-left: max(146px, 43.58%);
    margin-right: max(146px, 43.58%);

    column-gap: 5px;
}

.card2-bottom {
    margin-bottom: max(125px, 15.39%);
}
