header{
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #EFB33E;   
    border-radius: 0px 0px 15px 15px; 
    margin-bottom: 23px;
    
}
.chat_nav{

    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
    padding-top: 15px;
    align-items: center;
    margin-bottom: 27px;
}
.icone_header{

display: flex;
justify-content: space-around;

align-items: center;
align-self: center;
column-gap: 12px;
    

}
.chanel-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    height: 21.18vh;
    row-gap: 1.85vh;
}
.chanel-box div{
    position: relative;
    
}
.chanel-box div .txt{
    position: absolute;
    top: 0;
    margin:  0 10%;
    width: 80%;
    height: 100%;
}
.chanel-box div .txt p{
    position: relative;
    display: flex;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: #ffffff;
    border-radius: 5px;
    z-index: 0;
   
}
.ilu-chat-header{
position: absolute;

bottom: 0;
right: 0;

}
header p{
    width: 54.5vw;
    margin-left: 5.33%;
}