header{
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #EFB33E;   
    border-radius: 0px 0px 15px 15px; 
    margin-bottom: 23px;
    
}
header p:nth-child(2){
    width: 54.5vw;
    margin-left: 5.33%;
    margin-bottom: 20px;
}
header p:nth-child(3){
    margin-left: 5.33%;
    width: 36vw;

}

.chat_nav{

    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
    padding-top: 15px;
    align-items: center;
    margin-bottom: 27px;
}
.icone_header{

display: flex;
justify-content: space-around;

align-items: center;
align-self: center;
column-gap: 12px;
    

}
.ilu-chat-header{
    position: absolute;
    
    bottom: 0;
    right: 0;
    
    }
.wrapper h2{ 

    margin-bottom: 20px;

}

.wrapper p:nth-child(3){
    margin-bottom: 20px;
}
.wrapper p:nth-child(4){
    width: 100%;
    margin-bottom: 20px;
     }
.wonders-chanel{
   display: grid;
   grid-template-rows: repeat(3,33.33%);
   grid-template-columns: repeat(3,33.33%);
   row-gap: 10px;
   padding-bottom: 45px;
   padding-top: 30px;
   border-radius: 20px;
   margin-bottom: 5.54vh;


}
.wonders-chanel div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.wonders-chanel div img{
    padding: 0 29px;
    margin-bottom: 10px;
}



.box-star-conversation{


    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    row-gap: 13px;
    margin-bottom: 4.93vh;
    

}
.box-star-conversation div{

 border: 1px solid #EFB33E;
 border-radius: 10px;
 padding: 10px;


}

.btn-chattez{

display: flex;
justify-content: center;
margin-bottom: 9.85vh;

}

.btn-chattez p{
    padding: 10px 20px;
    border-radius: 10px;
}
