#logo-wondermap{
    margin-top: max(47px,5.79%);
    margin-left: max(74px,9.11%);
    margin-bottom: max(13px,1.6%);
    z-index: 1;
}

#plan{
    position: absolute;
    z-index: -1;

}

.rect_purple{
    position: relative;
    border-radius: 20px;
    z-index: 2;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h1{
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-bottom: max(533px,84.2%);
   
}

.localisation{
    z-index: 3;

}

.boutton-orange{
    position: relative;
    border-radius: 20px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.personne-1-bloc {
    position: absolute;
    display: block;
    top: 17.49%;
    left: 307px;
}

#personne-2{
    position: absolute;
    display: block;
    top: 368px;
    left: 28px;
}

#personne-3{
    position: absolute;
    display: block;
    top: 45.07%;
    left: 193px;
    z-index: 1;
}

#personne-4{
    position: absolute;
    display: block;
    top: 349px;
    left: 36px;
    z-index: -1;
}

#notif{
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 500px;
    top: 17.86%;
    left: 89.33%;
}

.ios-notification {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 20px;
    background: rgba(245, 245, 245, 0.6);
    backdrop-filter: blur(33.2019px);
    border-radius: 13px;
    padding: 10px;
    font-family: "SF Pro Text";

}

.notification-titre-temps{
    color: #838383;

}

.notification-titre-texte{
    color: #838383;
}


.ios-notification .notification-titre {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.ios-notification .notification-titre-container {
    display: flex;
    align-items: center;
}
.notification-titre-texte {
    margin-left: 6px;
}
.ios-notification p {
    margin-bottom: 8px;
}