header {
	height: 128px;
	border-radius: 0 0 30px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 45px;
}

header h2 {
	text-align: center;
}
.header-precedent {
	position: absolute;
	left: 20px;
	top: 40px;
	display: flex;
	align-items: center;
}
.header-precedent img {
	margin-right: 10px;
}

.badges {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.badge {
	min-width: 100px;
	width: 30%;
	text-align: center;
	margin-bottom: 14px;
}

.bump{
	margin-top: 12px;
}