.yellow_txt{
    color: #EFB33E;
}
.yellow_bg{
    background-color: #EFB33E;
}

.electric_blue_txt{
    color: #0F24B2;
}
.electric_blue_bg{
    background-color: #0F24B2;
}

.pink_txt{
    color: #EF96C3;
}
.pink_bg{
    background-color: #EF96C3;
}

.purple_txt{
    color: #9E4ACE;
}
.purple_bg{
    background-color: #9E4ACE;
}

.white_txt{
    color: #FFFFFF;
}
.white_bg{
    background-color: #FFFFFF;
}

.black_txt{
    color: #000000;
}

.black_bg{
    background-color: #000000;
}
.red_txt{
    color: #EB5629;
}
.red_bg{
    background-color: #EB5629;
}
.beige_txt{
    color: #EBDFBB;
}
.beige_bg{
    background-color: #EBDFBB;
}
.red_orange_txt{
    color: #D95E38;
}
.red_orange_bg{
    background-color: #D95E38;
}

.grey_txt{
    color: #6F6F6F;
}
.grey_txt_feed{
    color :#A19393;
}


.btn-bleu-white{

    background-color: #0F24B2;
    color: #FFFFFF;


}