#navbar{
   position: absolute;
   width: 100%;
   bottom: 0;
   display: flex;
   
    width: 100%;
    height: 60px;
    max-height: 7.39%;  

}
#navbar > ul, #navbar li {
    display: flex;
    align-items: center;
    list-style-type: none;
}
#navbar ul {
    
    width: 100%;
    padding-left: max(48px,12.8%);
    padding-right: max(48px,12.8%);
    justify-content: space-between;
}
/* Code html qui génere la nav bar
<div id="navbar" class="black_bg"></div>
        <script>$("#navbar").load("library/navbar/nav.html");</script>
*/