.haut-homepage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 311px;
    z-index: -5;
}
#img-vague {
    position: relative;
    top: 17.68%;
}
.menu {
    position: relative;
    background-color: #fff;

    width: 100%;
    border-radius: 30px 30px 0 0;
    z-index: 2;
    padding-top: 10px;
}
.barre-gris {
    width: 73px;
    height: 4px;
    background: #c4c4c4;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.calendrier {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.date {
    flex-direction: column;
    z-index: -1;
    border-radius: 23px;
    padding: 9px;
}
.jours {
    text-align: center;
    margin-bottom: 25px;
    color: #747474;
}
.jours-blanc {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
}
.bullet {
    height: 4px;
    width: 4px;
}
.date-chiffre {
    position: relative;
    padding: 9px 9px 6px 7px;
    border-radius: 50%;
}
.bullet {
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 50%;
}
.mentor {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    height: 33px;
    width: 33px;
    z-index: -1;
}
.bullet1 {
    position: absolute;
    height: 4px;
    width: 4px;
    right: -2px;
    top: 6px;
    border-radius: 50%;
}
.rectangle {
    width: 73px;
    height: 33px;
    border-radius: 10px;
}

.legende {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    column-gap: 15px;
}
.test {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 30px;
}
.test:nth-child(3) {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 50px;
}
.card-channel {
    display: inline-block;
    padding: 9px 9px 20px 9px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.card-channel img {
    margin-bottom: 18px;
}
.card-channel div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.menu h2:nth-child(5) {
    margin-bottom: 30px;
}
.swiper-pagination {
}
.box-mentor {
    width: 100%;
    height: 186px;
    position: relative;
    padding: 20px 30px 0px 120px;
    text-align: right;
    border-radius: 15px;
    margin-bottom: 50px;
}

.box-mentor div img {
    position: absolute;
    bottom: 0;
    left: -30px;
}
.btn-noir {
    display: flex;
    align-items: center;

    justify-content: center;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.box-musique {
    width: 100%;
}

.box-mentor h2 {
    margin-bottom: 20px;
}
.box-mentor h3 {
    margin-bottom: 30px;
}

.box-musique {
    position: relative;
    padding: 18px 3.5% 18px 12px;

    background: #f5f5f5;
    border: 0.5px solid rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    margin-bottom: 15px;
}

.box-musique #sound {
    position: absolute;
    right: 3.5%;
}

.box-app {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 32%;
    margin-bottom: 300px;
}
#timeline {
    position: absolute;
    right: 3.5%;
    bottom: 18px;
}
#dl {
    position: absolute;
    right: -3.5%;
    top: 8px;
}
#play {
    position: absolute;
    margin-left: 6px;
}
.box-titre-musique {
    position: absolute;
    top: 27px;
    left: 115px;
    width: 200px;
}
.box-titre-musique h2 {
    position: absolute;
    left: 45px;
    top: 7px;
    color: #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
}
.box-titre-musique h3 {
    position: absolute;
    left: 45px;
    top: 20px;
}
.time {
    position: absolute;
    background-color: #000000;
    display: inline-block;
    padding: 3px;
    top: 99px;
    right: 3.5%;

    z-index: 10;
}
.cercle-orange {
    position: absolute;
    left: 0;
    bottom: 100px;
    height: 475px;
    width: 282px;
    z-index: -1;

    clip-path: circle(65% at 0 55%);
}
.logo {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

#h1 {
    margin-bottom: 30px;
}
.menu h1 {
    margin-bottom: 30px;
}

.box-defi {
    position: relative;
    width: 100%;
    height: 243px;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 25px;
}
.first {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-blanc {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 10px 27.5px;
    border-radius: 10px;
    position: relative;
    bottom: 0;
}
.box-defi p:nth-child(2) {
    margin-bottom: 20px;
}
.box-defi p:nth-child(3) {
    margin-bottom: 30px;
}

#illu-main {
    position: absolute;
    bottom: 0;
    right: 32px;
}
.box-j-a {
    display: flex;

    align-items: center;
    column-gap: 15px;
    margin-bottom: 25px;
}
#multi-femme {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
}
.m2{
    
    padding-bottom: 1px;
}

.meschan{

    margin-bottom: 20px;
}

.fond{
    filter: blur(5px);
}

.rect-beige{
    position: fixed;
    top: 20%;
    left: 20px;
    width: 335px;
    height: 535px;
    border-radius: 35px;
}

.texte{
    position: relative;
}

.emballe{
    position: relative;
    margin-top: 22px;
    text-align: center;
    z-index: 1;
}

.blue-space{
    position: absolute;
    top: 45px;
    left: 83px;
    background: linear-gradient(to bottom right,rgb(67, 115, 170), #0F24B2);
    background-color: #0F24B2;
    transform: rotate(-5deg);
    width: 165px;
    height: 40px;
    z-index: -2;
}

.mentor-femme{
    margin-left: 74px;
    margin-top: 15px;
}

.jessica {
    text-align: center;
    margin-top: 15px;
}

.caillou{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 15px;
}

.bouton{
    width: 160px;
    height: 44px;
    border-radius: 10px;
    margin-left: 88px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.croix{
    margin-top: 50px;
    margin-left: 160px;
}
