#carre_bleu{
    position: absolute;
    display: block;
    background-color: #0F24B2;
    width: 375px;
    height: 219px;
    z-index: 0;
    border-radius: 0% 0% 5% 5% ;
    z-index: -1;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);

}

#questionnaire{
    position: absolute;
    display: block;
    font-family: "Abhaya Libre";
    font-size: 36px;
    color: white;
    top: 106.55px;
    left: 20px;
    z-index: 2;

}

#logo{
    position: absolute;
    display: block;
    margin-top: auto;
    margin-left: auto;
    left: 20px;
    top: 45px;
    z-index: 1;
}

#charging_white{
    display: block;
    position: absolute;
    background-color: white;
    top: 160px;
    left: 20px;
    z-index: 2;
    width: 335px;
    height: 16px;
    border-radius: 5px;
}

#charging_pink{
    display: block;
    position: absolute;
    background-color: #EF96C3;
    top: 160px;
    left: 20px;
    z-index: 2;
    width: 204px;
    height: 16px;
    border-radius: 5px;
    z-index: 3;
}

#choose{
    position: absolute;
    display: block;
    font-size: 20px;
    font-family: "Abhaya Libre";
    color: black;
    top: 237px;
    left: 20px;
}

#choose2{
    position: absolute;
    display: block;
    font-size: 14px;
    font-family: "Montserrat";
    color: black;
    top: 272px;
    left: 20px;

}

.choix{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap : 15px;
        justify-content: space-around;
        top: 312px;
        margin-left: 20px;
        margin-right: 20px;
        
}

.carre_mauve{
    width:160px ;
    height: 160px;
    background-color: #9E4ACE;
    border-radius: 10px;
}

.carre_rose{
   
    width:160px ;
    height: 160px;
    background-color: #EF96C3;
    border-radius: 10px;    
}

#ours{
    position: absolute;
    top: -26px;
    left: -18px;
}

#panthere{
    position: absolute;
    top: -61px;
    left: 130px;
}

#girafe{
    position: absolute;
    top: 178px;
    left: 10px;
}

#loutre{
    position: absolute;
    top: 188px;
    left: 176px;
}


#button_blue{
    position: absolute;
    display: inline-block;
    background-color: #0F24B2;
    z-index: 10;
    top: 662px;
    left: 108px;
    width: 158px;
    height: 50px;
    border-radius: 10px;

}

#valider{
    position: absolute;
    display: block;
    font-family: "Abhaya Libre SemiBold";
    font-size: 20px;
    color: white;
    left: 157px;
    top: 675px;
    z-index: 11;
}

#poulpe{
    position: absolute;
    display: block;
    top: 237px;
    left: 325px;
}

#home{
    position: absolute;
    display: block;
    bottom: 0;
}