#logo{
    position: absolute;
    display: block;
    margin-top: auto;
    margin-left: auto;
    left: 20px;
    top: 45px;
    z-index: 1;
}

#rect_orange{
    position: absolute;
    display: block;
    width: 375px;
    height: 106px;
    background-color: #EFB33E;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#red_circle{
    position: absolute;
    display: block;
    top: 257px;
}

#txt{
    position: absolute;
    display: block;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 48px;
    left: 45px;
    top: 145px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

.match{
    color: white;
}

#blue_space{
    background: linear-gradient(to bottom right,rgb(67, 115, 170), #0F24B2);
    position: absolute;
    display: block;
    width: 165px;
    height: 40px;
    top: 200px;
    left: 104px;
    background-color: #0F24B2;
    transform: rotate(-5deg);

}

#femme{
    position: absolute;
    display: block;
    left: 51px;
    top: 260px;

}

#bio{
    position: absolute;
    display: block;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: bold;
    color: black;
    left: 87px;
    top: 558px;

}

#bio2{
    position: absolute;
    display: block;
    font-family: "Work Sans";
    font-size: 13px;
    color: black;
    left: 87px;
    top: 591px;

}

#button_blue{
    position: absolute;
    display: block;
    width: 147px;
    height: 36px;
    background-color: #0F24B2;
    border-radius: 50px;
    left: 121px;
    top: 662px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);


}
#open{
    position: absolute;
    display: block;
    font-size: 12px;
    font-family: "Montserrat";
    color: white;
    top: 672px ;
    left: 151px;
    font-weight: bold;
}

#paillette{
    position: absolute;
    display: block;
    background-color: #EFB33E;
    width:2px;
    height: 18px;
    border-radius: 30px;
    left: 187px;
    top: 707px;
}

#paillette1{
    position: absolute;
    display: block;
    background-color: #EFB33E;
    width:2px;
    height: 18px;
    border-radius: 30px;
    left: 166px;
    top: 706px;
    transform: rotate(20deg);
}


#paillette2{
    position: absolute;
    display: block;
    background-color: #EFB33E;
    width:2px;
    height: 18px;
    border-radius: 30px;
    left: 209px;
    top: 706px;
    transform: rotate(-20deg);
}


#home{
    position: absolute;
    display: block;
    bottom: 0;
}