#carre_bleu{
    position: absolute;
    display: block;
    background-color: #0F24B2;
    width: 375px;
    height: 222px;
    z-index: 0;
    border-radius: 0% 0% 5% 5% ;
    z-index: -1;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);

}

#logo{
    position: absolute;
    display: block;
    margin-top: auto;
    margin-left: auto;
    left: 20px;
    top: 45px;
    z-index: 1;
}

.Font_Montserrat_Normal_17px{
    line-height: 20px;
    font-family: "Montserrat";
    font-size: 13px;
    
}

.Font_Bold_Abhaya_17px{
    font-family: "Abhaya Libre ExtraBold";
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20.4px;

}

#questionnaire{
    position: absolute;
    display: block;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 36px;
    color: white;
    top: 105px;
    left: 20px;
    z-index: 2;

}

#charging_white{
    display: block;
    position: absolute;
    background-color: white;
    top: 160px;
    left: 20px;
    z-index: 2;
    width: 335px;
    height: 16px;
    border-radius: 5px;
}

#charging_pink{
    display: block;
    position: absolute;
    background-color: #EF96C3;
    top: 160px;
    left: 20px;
    z-index: 2;
    width: 44px;
    height: 16px;
    border-radius: 5px;
    z-index: 3;

}

#txt_question{
    position: absolute;
    display: block;
    font-family: "Abhaya Libre";
    font-weight: bold;
    color: black;
    font-size: 18px;
    left: 20px;
    top: 261px;
    line-height: 25px;
}

#carre_mauve{
    display: inline-block;
    width: 116px;
    height: 116px;
    background-color: #9E4ACE;
    border-radius: 10px;
    position: absolute;
    display: block;
    top: 347px;
    left: 49px;
    z-index: 1;
}

#carre_rose{
    display: inline-block;
    width: 116px;
    height: 116px;
    background-color: #EF96C3;
    border-radius: 10px;
    position: absolute;
    top: 347px;
    left: 211px;
    z-index: 2;

}

#solo{
    color: white;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 17px;
    position: absolute;
    display: block;
    top: 397px;
    left: 91px;
    z-index: 3;

}

a:hover {
    color:red;
    text-decoration:none;
    }

#squad{
    color: black;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 17px;
    position: absolute;
    display: block;
    top: 397px;
    left: 246px;
    z-index: 4;

}

#button_blue{
    position: absolute;
    display: inline-block;
    background-color: #0F24B2;
    z-index: 10;
    top: 670px;
    left: 235px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
}


.button_valider{
    
}


#valider{
    position: absolute;
    display: block;
    font-family: "Inter";
    font-size: 20px;
    color: white;
    left: 300px;
    top: 684px;
    z-index: 11;

}

#femme{
    position: absolute;
    display: block;
    top: 503px;
    left: 14px;
    width: 345px;
    height: 196px;
}

#home{
    position: absolute;
    display: block;
    bottom: 0;
}