h1{
    margin-top: 10px;

}

.header-blue{
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 100%;
    height: 219px;
    z-index: -1;
    border-radius: 0px 0px 20px 20px;
}

.chargement{
    position: relative;
    margin-top: 20px;
    margin-bottom: max(73px,8.99%);
    
}


.charging_white{

    /**top: 160px;
    left: 20px;**/
    z-index: 2;
    width: 335px;
    height: 16px;
    border-radius: 5px;
}

.charging_pink{
    position: absolute;
    top: 0;

    /**top: 160px;
    left: 20px;**/
    z-index: 2;
    width: 280px;
    height: 16px;
    border-radius: 5px;
    z-index: 3;

}

.choose{
    margin-bottom: max(10px,1.23%);
}

.button_blue{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 44px;
    border-radius: 10px;
    
}


#valider{
    position: relative;
    display: block;
    font-size: 20px;
    /* left: 158px;
    top: 684px; */
    z-index: 11;
}

.hand{
    position: relative;
    top: 56px;
}


.pink_plein{
    background-color: #EF96C3;
    width: 160px;
    height: 39px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choix{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px ;
    justify-content: space-between;
    top: 15px;
    margin-bottom:  38px;
    text-align: center;
    
}

.pink_vide{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color:#EF96C3 ;
    width: 160px;
    height: 39px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect_pink{
    padding-left: 15px;
}

.txt_white{
    font-family: "Montserrat";
    font-size: 14px;
    color: white;

}

.txt_pink{
    font-family: "Montserrat";
    font-size: 14px;
    color: #EF96C3;

}


.boutons{
    display: flex;
}

.box-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.precedent{

    color: #000;
}