.box-profil {
}

.note-profile {
    display: flex;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}
.swiper-container {
    position: relative;
    width: 100vw;
    height: 100%;
    margin: 40px 0px;
    left: -25px;
}

.card-commentaire {
    height: 209px;
    width: 160px;
    background-color: #efb33e;
    border-radius: 10px;
    padding: 0px 12px;
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
}
.card-commentaire header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.card-commentaire header p {
    position: relative;
    top: -10px;
}

.add {
    position: relative;
    width: 139px;
    height: 179px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 8px 8px 0px 8px;
    text-align: center;
    color: #3a3a3a;
}

.add img {
    margin-bottom: 15px;
}
.flex {
    display: flex;
    column-gap: 15px;
}

.calendrier {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.date {
    flex-direction: column;
    z-index: -1;
    border-radius: 23px;
    padding: 9px;
}
.jours {
    text-align: center;
    margin-bottom: 25px;
    color: #747474;
}
.jours-blanc {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
}
.bullet {
    height: 4px;
    width: 4px;
}
.date-chiffre {
    position: relative;
    padding: 9px 9px 6px 7px;
    border-radius: 50%;
}
.bullet {
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 50%;
}
.mentor {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    height: 33px;
    width: 33px;
    z-index: -1;
}
.bullet1 {
    position: absolute;
    height: 4px;
    width: 4px;
    right: -2px;
    top: 6px;
    border-radius: 50%;
}
.rectangle {
    width: 73px;
    height: 33px;
    border-radius: 10px;
}

.legende {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    column-gap: 15px;
}
.test {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 10px;
}
h2:nth-child(4) {
    background-color: red;
    margin-bottom: 20px;
}

h2:nth-child(6) {
    background-color: red;
    margin-bottom: 20px;
}
h2:nth-child(8) {
    background-color: red;
    margin-bottom: 20px;
}
h2:nth-child(10) {
    background-color: red;
    margin-bottom: 20px;
}
.marg-50px {
    margin-bottom: 50px;
}
.box-tarif {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 9px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    color: #3a3a3a;
}
.box-tarif img {
    margin-right: 15px;
}
